/* flexProps {
    display: flex;
    flex-direction: row;
    flex-wrap: ...;
    justify-content: ...;
    align-items: ...;
    align-content: ...;
} */

body {
    width: 100%;
    margin: 0 auto;
}

.container {
    background-color: #4267b2;
    color: white;
}

.container .top {
    display: flex;
    justify-content: center;
    align-content: center;
}


.search-bar input {
    width: 460px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid black;
}
.small-profile-pic img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}


.middle {
    background-color: #e9ebee;
    color: #1d2129;
}